# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
enduro_events/node_modules
api/node_modules
/.pnp
.pnp.js

# testing
enduro_events/coverage

# production
enduro_events/build
api/build

# misc
.DS_Store
api/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
