.details {
 height: 45vh;
}

.details img {
    max-width: 600px;
    max-height: 300px;
}

.details p {
    padding: 0 250px 0 250px;
}

.details div {
    margin: 0 0 0 100px;
}

.details span {
    margin: 0 120px 0 0;
}

.details button {
    text-decoration: none;
    background: transparent;
    border: none;
    color: black;
}