.footer {
    width: 100%;
    height: 10%;
    background-color: rgba(0,0,0,.5);
    color: white;
    border-top: 2px solid #234465;
    border-bottom: 2px solid #234465;
    margin-top: 10px;
    margin-bottom: 1%;
}

.footer p {
    text-align: center;
    font-weight: bold;;
}