.divContainer { 
    margin: 40px 0 20px 0;
    display: inline-block;
    width: 85%;
}

.divContainer a {
    text-decoration: none;
    color: black;
}

.image {
    max-width: 300px;
    max-height: 300px;
    float:left
}

.article {
    float: center;
    text-align: center;
}

.article p {
    text-align: center;
    font-size: 18px;
}