.app {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .container {
    background-color: #cbf890;
    padding: 0.5%; 
    margin-bottom: 0.1%;
  }
  
  .main {
    display: inline-block;
    width: 75%;
    height: 89.5vh;
    /* height: auto; */
    margin-bottom: 5%;
  }