  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0px 0px 130px;
  }
  
  .customers td, .customers th {
    /* border: 1px solid #ddd; */
    padding: 8px;
  }
  
  .customers tr:nth-child(even){
    background-color: rgba(0,0,0,.5);
    color: white;
  }
  
  .customers tr:hover {
    background-color: #ddd;
    color: black;
  }
  
  .customers th {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: left;
    background-color: black;
    color: white;
    text-align: center;
  }

  .customers button {
    margin-top: 10px;
    text-decoration: none;
    border: 1px solid white;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    color: white;
    background: transparent;
}

.customers button:hover {
    color: black;
    background-color: white;
}

.customers p {
  font-weight: bold;
}